<%- include("header") -%>
    <div class="box" id="heading">
        <h1><%= today %></h1>
    </div>

    <div class="box">
        <% for (var item in newItem ) { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newItem[item] %>
                </p>
            </div>
            <% } %>

                <div class="item">
                    <form action="/" method="post" class="item">
                        <input type="text" name="item" placeholder="New Item">
                        <button type="submit">+</button>
                    </form>
                </div>

    </div>

    <a href="about">About</a>
    <br>
<%- include("footer") -%>